resources/
downloadAllAudible/datasetAll/YAT1Audible/
downloadAllAudible/datasetAll/YAT2Audible/
downloadAllAudible/datasetAll/YAT3Audible/
exp*/spectrogram_*
exp*/templates*
exp*/database*
exp*/TEST*
exp*/labels
exp*/BKG_*
*.asv
anomalousAudio/
